<p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}" header="Author" [modal]="true"
          styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
  <ng-template pTemplate="content">
    <p-tabView>
      <p-tabPanel header="Author">
        <div class="grid">

          <div class="field col-12 md:col-6">
            <label for="1">First Name<span style="color: red;">*</span></label>
            <input class="mb-2 mr-2" type="text" pInputText placeholder="FirstName"
                   id="1" [(ngModel)]="selectedAuthor.firstName"
                   [ngClass]="{'ng-invalid ng-dirty' : !validAuthorFirstName}"/>
            <small class='p-error' *ngIf='!validAuthorFirstName'>FirstName is Obligation.</small>
          </div>

          <div class="field col-12 md:col-6">
            <label for="2">Last Name<span style="color: red;">*</span></label>
            <input id="2" pInputTextarea rows="5" cols="30"
                   placeholder="LastName" [(ngModel)]="selectedAuthor.lastName"
                   [ngClass]="{'ng-invalid ng-dirty' : !validAuthorLastName}"/>
            <small class='p-error' *ngIf='!validAuthorLastName'>LastName is Obligation.</small>
          </div>

          <div class="field col-12 md:col-6">
            <label for="3">Email<span style="color: red;">*</span></label>
            <input id="3" pInputTextarea rows="5" cols="30"
                   placeholder="Email" [(ngModel)]="selectedAuthor.email"
                   [ngClass]="{'ng-invalid ng-dirty' : !validAuthorEmail}"/>
            <small class='p-error' *ngIf='!validAuthorEmail'>Email is Obligation.</small>
          </div>

          <div class="field col-12 md:col-6">
            <label for="4">Phone Number<span style="color: red;">*</span></label>
            <input id="4" pInputTextarea rows="5" cols="30"
                   placeholder="PhoneNumber" [(ngModel)]="selectedAuthor.phoneNumber"
                   [ngClass]="{'ng-invalid ng-dirty' : !validAuthorPhoneNumber}"/>
            <small class='p-error' *ngIf='!validAuthorPhoneNumber'>PhoneNumber is Obligation.</small>
          </div>


        </div>
      </p-tabPanel>

    </p-tabView>

  </ng-template>

  <ng-template pTemplate="footer">
    <div class="grid-step">
      <div style="margin-left: auto;">
        <button pButton pRipple label="Save" icon="pi pi-check" style="margin:10px"
                (click)="save()"></button>

        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-outlined" style="margin:10px"
                (click)="hideCreateDialog()"></button>
      </div>

    </div>
  </ng-template>

  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

</p-dialog>
